* {
    color: #fff;
    lineedit-password-character: 42;
    text-decoration: none;
}

QStackedWidget > QWidget {
    background-image: url(:/background.png);
}

QPlainTextEdit {
    background: #37474f;
    font-family: sans-serif;
    font-size: 10px;
    border: 1px solid #90a4ae;
}

QPushButton {
    border: 0;
    background: #2196f3;
    padding: 10px;
    outline: 0px;
}

QPushButton:hover {
    background: #1976d2;
}

QPushButton:pressed {
    padding: 11px 9px 9px 11px;
}

QComboBox {
    background: transparent;
    border: 0;
    padding: 5px 2px;
    border-bottom: 2px solid #2196f3;
}

QComboBox:on {
    padding: 6px 1px 4px 3px;
}

QComboBox QAbstractItemView {
    background-color: #e3f2fd;
    padding: 0;
    border: 0;
    outline: 0px;
}

QComboBox QAbstractItemView::item {
    color: #000;
    padding: 5px 0;
}

QComboBox QAbstractItemView::item:selected {
    background: #2196f3;
    color: #fff;
}

QScrollBar:vertical {
    background: transparent;
    width: 16px;
    border: 0;
    margin: 6px 5px;
}

QScrollBar::handle:vertical {
    background: #64b5f6;
    min-height: 10px;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}

QLineEdit {
    background: transparent;
    border: 0;
    padding: 5px 2px;
    border-bottom: 2px solid #2196f3;
}
